$bg-color:           #red;
$btn-color :         #fff; //white
$btn-bgcolor :       red; //blue
$btn-bgcolor-hover : #3cba54; //green
$grey:               #898989;

body {
  background: $bg-color;
}

